@model GraniteHouse.Models.ProductTypes
@{
    ViewData["Title"] = "Details";
}
<br />
<h2 class="text-info">Edit Product Type</h2>


<div class="p-4 border rounded">
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="ProductName"></label>
        </div>
        <div class="col-5">
            <input asp-for="ProductName" class="form-control" disabled/>
        </div>
    </div>
    <br />
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>


